---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";
import Icons from "./Icons.astro";

interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
  tags: string[];
  infoLink?: string;
  liveLink?: string;
  sourceLink?: string;
  designLink?: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const {
  title,
  description,
  image,
  infoLink,
  liveLink,
  sourceLink,
  designLink,
  tags,
} = Astro.props;
const projectLink = infoLink || liveLink || sourceLink || ".";
---

<div class="mb-20 grid grid-cols-1 gap-4 lg:grid-cols-2">
  <div class="col-span-full mx-auto mb-5 flex">
    <a
      href={projectLink}
      target="_blank"
      rel="noopener noreferrer"
      class="self-start duration-100 hover:text-blue-700 dark:hover:text-blue-300"
      ><h3>{title}</h3></a
    >
  </div><a
    href={projectLink}
    target="_blank"
    rel="noopener noreferrer"
    class="group mx-auto flex max-h-[18.75rem] max-w-[25rem] items-center justify-center overflow-hidden rounded-sm border-2 border-slate-400"
    ><Image
      alt={title}
      width="400"
      height="400"
      decoding="async"
      data-nimg="1"
      class="duration-200 group-focus-within:scale-110 group-hover:scale-110"
      src={image}
    /></a
  ><div>
    <p class="mb-4">
      {description}
    </p><div
      class="mb-10 flex flex-col justify-center gap-4 md:flex-row lg:justify-start"
    >
      {
        infoLink && (
          <a
            href={infoLink}
            target="_blank"
            rel="noopener noreferrer"
            class="button-link"
          >
            <Icons icon="info" />
            <span aria-hidden="true">{t("project.info")}</span>
            <span class="sr-only">{`${t("project.checkOut")} ${title}`}</span>
          </a>
        )
      }
      {
        liveLink && (
          <a
            href={liveLink}
            target="_blank"
            rel="noopener noreferrer"
            class="button-link"
          >
            <Icons icon="live" />
            <span aria-hidden="true">{t("project.live")}</span>
            <span class="sr-only">{`${t("project.checkOut")} ${title}`}</span>
          </a>
        )
      }
      {
        sourceLink && (
          <a
            href={sourceLink}
            target="_blank"
            rel="noopener noreferrer"
            class="button-link"
          >
            <Icons icon="code" />
            <span aria-hidden="true">{t("project.sourceCode")}</span>
            <span class="sr-only">{t("project.checkOutSourceCode")}</span>
          </a>
        )
      }
      {
        designLink && (
          <a
            href={designLink}
            target="_blank"
            rel="noopener noreferrer"
            class="button-link"
          >
            <Icons icon="brush" />
            <span aria-hidden="true">{t("project.design")}</span>
            <span class="sr-only">{t("project.checkOutDesign")}</span>
          </a>
        )
      }
    </div><div class="flex flex-wrap gap-2">
      <ul class="flex flex-wrap gap-2">
        {
          tags.map((tag) => (
            <li class="rounded-sm border border-solid border-slate-400 px-2 py-1">
              {tag}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
