---
import { getLangFromUrl } from "../i18n/utils";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { Image } from "astro:assets";
import bgImage from "../images/bg.jpg";
import "../styles/base.css";
import SkipLink from "@/components/SkipLink.astro";

type Props = (
  | {
      hasSkipLink?: false;
      skipLinkLabel?: undefined;
      skipLinkHref?: undefined;
    }
  | {
      hasSkipLink: true;
      skipLinkLabel: string;
      skipLinkHref: string;
    }
) & { title: string; description?: string };

const lang = getLangFromUrl(Astro.url);
const {
  title,
  description = "Bogdan Bogdanovic personal portfolio website",
  hasSkipLink,
  skipLinkHref,
  skipLinkLabel,
} = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      />
    </noscript>
    <title>{title}</title>
  </head>
  <body class="bg-slate-100 dark:bg-slate-800 dark:text-white">
    {hasSkipLink && <SkipLink label={skipLinkLabel} href={skipLinkHref} />}
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <div class="fixed inset-0 -z-10 h-full w-full">
      <div
        class="absolute h-full w-full bg-slate-100 opacity-80 dark:bg-slate-800"
      >
      </div>
      <div
        class="absolute h-full w-full overflow-auto bg-gradient-to-t from-slate-100/50 dark:from-slate-900/50"
      >
      </div>
      <Image src={bgImage} alt="" class="h-full w-full object-cover" />
    </div>
  </body>
</html>
